<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comprar - ImpoVinos</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="site">
    <!-- HEADER -->
    <section id="header">
      <a href="index.html" class="logo-container">
      <img src="assets/logovino.webp" class="logo" alt="logo">
      <span class="nombre-empresa">ImpoVinos</span>
      </a>

      <!-- Botón hamburguesa -->
       <span class="menu-toggle" onclick="document.getElementById('navbar').classList.toggle('open')">&#9776;</span>
      <div>
        <ul id="navbar">
          <li><a class="active" href="index.html">Inicio</a></li>
          <li><a href="nacionales.html">Nacionales</a></li>
          <li><a href="importados.html">Importados</a></li>
          <li><a href="nosotros.html">Sobre Nosotros</a></li>
          <li><a href="contacto.html">Contacto</a></li>
          <li><a href="ingresa.html">Ingresa</a></li>
          <li><a href="registro.html">Registrate</a></li>
          <li><a href="perfil.html">Mi perfil</a></li>             
        </ul>
      </div>
    </section>

    <!-- MAIN -->
    <main class="comprar-main">
      <div class="opcion">
        <a href="nacionales.html">
          <img src="assets/Vino-Chile-UCM-ouzc8o3h47dwb3p3ar58rpqe3s0e1lrzhzta4npf8m.jpg" alt="Nacionales">
          <div class="overlay">Nacional</div>
        </a>
      </div>

      <div class="opcion">
        <a href="importados.html">
          <img src="assets/red-wine-2443699_1280.jpg" alt="Importados">
          <div class="overlay">Importados</div>
        </a>
      </div>
    </main>

    <!-- FOOTER -->
    <footer>
      <div class="footer">
        <p> © Todos los derechos reservados, Grupo 10 Semana 3</p>
      </div>
    </footer>
  </div>
</body>
</html>
