<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ingreso Administrador - ImpoVinos</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="site">
    <!-- Navbar -->
    <section id="header">
      
     {% include 'misc/navbar.html' %} 

    <!-- Formulario Admin -->
    <section id="formulario">
      <h2>Ingreso Administrador</h2>
      <form id="adminForm">
        <label for="usuario">Usuario Administrador:</label>
        <input type="text" id="usuario" name="usuario" required>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Ingresar</button>
      </form>
    </section>
      <script>
        document.getElementById("adminForm").addEventListener("submit", function(event) {
          event.preventDefault(); // evita que el formulario se envíe de inmediato
          alert("Has ingresado como administrador");
          window.location.href ="{% url 'index' %}"; // redirige después del mensaje
        });
      </script>

    <!-- Footer -->
    <footer>
      <div class="footer">
        <p>© Todos los derechos reservados, Grupo 10 Semana 3</p>
      </div>
    </footer>
  </div>
</body>
</html>
